    <section id="destaques" class="row">
      <div class="col-md-12">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
            	<%= image_tag "carro01.jpg"%>
              <div class="carousel-caption">
                Honda Accord 0Km R$100.000,00
              </div>
            </div>
            <div class="item">
            	<%= image_tag "carro02.jpg"%>
              <div class="carousel-caption">
                Chevrolet Chevette 1990 R$3.000,00
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
          </a>
        </div>
      </div>
    </section>
    <br>
    <section id="anuncios" class="row">
      <div class="col-md-4">
        <div class="thumbnail">
        	<%= image_tag "carro03.jpg"%>
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>R$10.000,00</p>
            <p><a href="detalhes.html" class="btn btn-primary" role="button">Comprar</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
        	<%= image_tag "carro04.jpg"%>
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>R$25.000,00</p>
            <p><a href="detalhes.html" class="btn btn-primary" role="button">Comprar</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
        	<%= image_tag "carro03.jpg"%>
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>R$9.000,00</p>
            <p><a href="detalhes.html" class="btn btn-primary" role="button">Comprar</a></p>
          </div>
        </div>
      </div>      
    </section>