    <section id="destaques" class="row">
      <div class="col-md-12">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @cars.destaques.each_index do |index|%>
              <li data-target="#carousel" data-slide-to="<%= index %>" <%= "class=\"active\"" if index == 0%>></li>
            <%end%>
          </ol>
          <div class="carousel-inner" role="listbox">
            <% @cars.destaques.each_index do |index|%>
              <%if index == 0%>
                <div class="item active">
              <% else %>
                <div class="item">
              <% end %>
              	<%= image_tag "carro01.jpg"%>
                <div class= "carousel-caption">
                  <%= @cars.destaques[index].model%>
                  <%= @cars.destaques[index].brand%>
                  <%= "#{@cars.destaques[index].km} Km"%>
                  <%= "R$: #{@cars.destaques[index].value}"%>
                </div>
              </div>
            <% end %>
          </div>
          <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
          </a>
        </div>
      </div>
    </section>
    <br>
    <section id="anuncios" >
    <% @cars.limit(6).each_index do |index|%>
      <% if index == 0 || (index % 3) == 0 %>
        <div class="row">
      <% end %>
         <div class="col-md-4">
            <div class="thumbnail">
              <%= image_tag "carro03.jpg"%>
              <div class="caption">
                <h3><%= @cars[index].model %></h3>
                <p><%= @cars[index].value %></p>
                <p>
                  Marca: <%=@cars[index].brand%><br>
                  Ano:<%=@cars[index].year%><br>
                  Km Rodados: <%=@cars[index].km%><br>
                  Motor: <%=@cars[index].motor%>
                </p>
                <%= link_to "Comprar", @cars[index] , class: "btn btn-primary"%>
              </div>
            </div>
          </div>
      <% if (index%3) == 2 || index == @cars.length - 1 %>
        </div>
      <% end %>
    <% end %>
    </section>
