
 <div class="row">
	    <div class="col-md-4 col-sm-10">
	        <%= link_to image_tag("carro01.jpg", class: "img-responsive img-rounded"), car %>
	    </div>
	    <div class="col-md-7 col-sm-10">
	      <div class="row">
	        <ul class="well">
	        	<li class=	"list-group-item"><%= link_to "#{car.model} - #{car.brand}", car %></li>
	        	<li class="list-group-item">Preço: <%= number_to_currency(car.value, unit: "R$", separator: ",", delimiter: ".", format: "%u %n") %></li>
	        	<li class="list-group-item">Ano: <%= car.year %></li>
	        	<li class="list-group-item">KM: <%= number_with_delimiter(car.km, delimiter: ".", separator: "") %></li>
	        	<li class="list-group-item">Motor: <%= car.motor %></li>
	        </ul>
	      </div>	        
	   	</div>
 	</div>
 	<hr>
	   		
