<%= form_for @car do |c| %>

  <% if @car.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@car.errors.count, "error") %> *Os campos são obrigatórios!
        </h2>
        <ul>
          <% @car.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

	<div class="form-group">
    <label >Marca*</label>
    <%= c.text_field :brand %>
   <!-- <input type="text" class="form-control" id="brand" name="brand" maxlength = 20>-->
   </div>

   <div class="form-group">
    <label >Modelo*</label>
    <%= c.text_field :model %>
<!--    <input type="text" class="form-control" id="model" name="model" maxlength = 20>-->
  </div>

  <div class="form-group">
    <label >Ano*</label>
    <%= c.number_field :year %>
<!--    <input type="text" class="form-control" id="year" name="year" maxlength = 10>-->
  </div>

  <div class="form-group">
    <label >Km*</label>
    <%= c.number_field :km %>
<!--    <input type="text" class="form-control" id="km" name="km" maxlength = 20>-->
  </div>

  <div class="form-group">
    <label >Motor</label>
    <%= c.text_field :motor %>
<!--    <input type="text" class="form-control" id="motor" name="motor" maxlength = 20>-->
  </div>

  <div class="form-group">
    <label >Valor R$*</label>
    <%= c.text_field :value %>
<!--    <input type="text" class="form-control" id="value.to_i" name="value" maxlength = 11>-->
  </div>
  <button type="submit" class="btn btn-default">Salvar</button>
<% end %>