<%= form_for @car do |c| %>

  <% if @car.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@car.errors.count, "error") %> *Os campos são obrigatórios!
        </h2>
        <ul>
          <% @car.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

	<div class="form-group">
    <label >Marca*</label>
    <%= c.text_field :brand, class:"form-control"%>
   </div>

   <div class="form-group">
    <label >Modelo*</label>
    <%= c.text_field :model, class:"form-control"%>
  </div>

  <div class="form-group">
    <label >Ano*</label>
    <%= c.number_field :year, class:"form-control"%>
  </div>

  <div class="form-group">
    <label >Km*</label>
    <%= c.number_field :km, class:"form-control"%>
  </div>

  <div class="form-group">
    <label >Motor</label>
    <%= c.text_field :motor, class:"form-control"%>
  </div>

  <div class="form-group">
    <label >Valor R$*</label>
    <%= c.text_field :value, class:"form-control"%>
  </div>
  <div class="form-group">
    <label >Detalhes Tecnicos</label>
    <%= c.text_area :technical_details, class:"form-control", rows: 3%>
  </div>
  <div class="form-group">
    <label >Destaque</label>
    <%= c.check_box :featured%>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
<% end %>