<h1>Lista de todos os carros</h1>

<table>
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Marca</th>
      <th>Ano</th>
      <th>Km</th>
      <th>Motor</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.model %></td>
        <td><%= car.brand %></td>
        <td><%= car.year %></td>
        <td><%= car.km %></td>
        <td><%= car.motor %></td>
        <td><%= car.value %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>