<header>
      <div class="page-header">
        <h1>Carros Novos</h1>
      </div>
 </header>

<section id="anuncios" class="row">
<% Car.novos.each do |c| %>
  <% c %>

<div class="col-md-4">
        <div class="thumbnail">
          <img alt="Carro03" src="/assets/carro03.jpg">
          <div class="caption">
            <h3><%= c.model  %></h3>
            <p>R$ <%= c.value %></p>
            <p>Marca: <%= c.brand %></p>
            <p>Ano: <%= c.year %></p>
            <p>Km: <%= c.km %></p>
            <p>Motor: <%= c.motor %></p>
            <p><a href="detalhes.html" class="btn btn-primary" role="button">Comprar</a></p>
          </div>
        </div>
      </div>
<%end%>

</section>


